.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background-color: #ffeaea;
  text-align: center;
}

.botaoDesafio,
.botaoComecar {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #ff6b81;
  color: white;
  margin-top: 20px;
  transition: 0.3s;
  text-decoration: none;
}

.botaoDesafio:hover,
.botaoComecar:hover {
  background-color: #ff4757;
}

/* Swiper fix para effect-fade */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
